.leftColumn {
  flex: 1;
  flex-direction: column;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 1200px) {
  .leftColumn {
    flex: 0 0 30%;
  }
  .rightColumn {
    flex: 0 0 70%;
    overflow: auto;
    height: 100%;
  }

  .mainContent {
    margin-right: 20px;
    overflow: auto;
    width: 98%;
  }
}

.container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.title {
  text-transform: uppercase;
  font-size: 5rem;
  margin: 0;
  padding-bottom: 80px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25rem;
}

.seasonColumn {
  display: flex;
  flex-direction: column;
  margin-top: 20px; 
}